{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Wowla Shop</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 bg-[url('static/image/elegant-luxurious-white-background-free-vector.jpg')] bg-cover bg-center bg-no-repeat flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="flex justify-center block text-blue-700 text-center text-4xl font-extrabold ">
      <h1 id="typewriter"></h1>
  </div>
  
  <script>
  const words = ["Welcome, {{ user.username }}!", "Hello, {{ user.username }}!", "Happy Shopping!"];
  let i = 0;
  let j = 0;
  let currentWord = "";
  let isDeleting = false;
  
  function type() {
    currentWord = words[i];
    if (isDeleting) {
      document.getElementById("typewriter").textContent = currentWord.substring(0, j-1);
      j--;
      if (j == 0) {
        isDeleting = false;
        i++;
        if (i == words.length) {
          i = 0;
        }
      }
    } else {
      document.getElementById("typewriter").textContent = currentWord.substring(0, j+1);
      j++;
      if (j == currentWord.length) {
        isDeleting = true;
      }
    }
    setTimeout(type, 150);
  }
  
  type();
  </script>
  <div class="flex justify-center px-3 mb-4">
    <div class="flex rounded-md justify-center items-center py-2 px-4 w-fit">
      <h6 class="text-blue-400 text-center">Last Login: {{last_login}}</h6>
    </div>
  </div>
  <div class="relative grid grid-cols-1 z-20 md:grid-cols-3 gap-4 p-4 max-w-screen-md mx-auto text-sm">
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Name' value=nama %}
      {% include "card_info.html" with title='Class' value=kelas %}
  </div>
  <div class="flex justify-center px-3 mb-4">
    <h5 class="text-blue-700 font-semibold text-center">Start your business here!</h5>
  </div>

  <div class="flex justify-end mb-6 justify-center items-center">
    <a href="{% url 'main:create_product_entry' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Add New Product
    </a>
</div>
</div>
  <div class = "rounded-lg px-4 md:px-8 pb-8 pt-12 bg-white flex flex-col">
    {% if not product_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada data product.</p>
    </div>
    {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for product_entry in product_entries %}
            {% include 'card_product.html' with product_entry=product_entry %}
        {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}